.app {
  min-width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-image: url(assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
